{% extends "layout.html" %}
{% block title %}Download Report{% endblock %}
{% block head %}
    {{ super() }}
<style type="text/css">
input {
    width: auto;
}

.status_checkbox {
  margin: 17px;
  transform: scale(2);
}
</style>
{% endblock %}
{% block content %}
    <br>
    <h1 style="font-size: 50px; text-align: center">Download Report</h1>
    <br>
    <form action="/{{ env_name }}/download_report" method="POST" id="scanForm">
      <div class="form-group">
        <div class="status" style="font-size: 20px">
          <input class="status_checkbox" type="checkbox" name="status[]" value="Unshipped"> Unshipped<br>
          <input class="status_checkbox" type="checkbox" name="status[]" checked value="Shipped"> In-Transit<br>
          <input class="status_checkbox" type="checkbox" name="status[]" checked value="Delivered"> Delivered<br>
          <input class="status_checkbox" type="checkbox" name="status[]" checked value="Delayed"> Delayed<br>
          <input class="status_checkbox" type="checkbox" name="status[]" checked value="Returned"> Refused<br>
          <input class="status_checkbox" type="checkbox" name="status[]" value="Failed"> Failed<br>
          <input class="status_checkbox" type="checkbox" name="status[]" value="Trash"> Trash<br>
        </div>
        <br>
      <button type="submit" class="btn btn-primary" download="report.csv">Download Report</button>
    </form>
{% endblock %}
