{% extends "layout.html" %}
{% block title %}File Manager{% endblock %}
{% block content %}
    <br>
    <h1 style="font-size: 50px; text-align: center">File Manager</h1>
    <br>
    Sign-in URL<br>
    <a href="https://617152481049.signin.aws.amazon.com/console" target="_blank">Click here</a><br>
<br>
<strong>User for Order Fulfillment:</strong><br>
username: user_file_manager<br>

<br>
S3 Bucket: <br>
<a href="https://s3.console.aws.amazon.com/s3/buckets/order-fulfillment-files?region=us-east-1&bucketType=general&tab=objects" target="_blank">Click here</a>

{% endblock %}
